@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/chapel.jpeg" alt="chapel" style="max-width: 500px"/>
    <h1 class="display-4" style="margin: 20px 0 50px 0">Welcome to the Sacramento App!</h1>
</div>
