/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  margin-left: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/**********************
*   CUSTOM STYLES
**********************/
#landing-page-content {
    color: #3971ed;
    text-align: center;
    margin: auto;
}

    #landing-page-content h1 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.5em;
    }

    #landing-page-content p {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
    }

#langing-page-images {
    display: none;
}

#sw-js-blob-svg {
    display: none;
}

#desk-icon {
    display: block;
    margin: auto;
}

.navbar-brand {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6em;
}

.landing-page-btn {
    background-color: white;
    color: #0b192e;
    padding: 10px 20px;
    border-radius: 5px;
}

.landing-page-btn:hover {
    background-color: #0e275c;
    color: white;
    text-decoration: none;
}

/* DESK QUOTE PAGE STYLES*/
.reg-btn {
    border: 1px solid #b8b8b8;
    padding: 10px 20px;
    border-radius: 5px;
}

.add-btn {
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    margin: 0px 0 0px 10px;
    cursor: pointer;
}

    .add-btn h3 {
        color: white;
        margin: -5px 0px 0px -5px;
        font-size: 2em;
    }

tbody tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}


@media only screen and (min-width: 60em) {
    #landing-page-content {
        color: white;
        margin-top: -55%;
        margin-bottom: 20%;
        display: flex;
        text-align: left;
    }

        #landing-page-content div:nth-child(1) {
            width: 60%;
        }

    #sw-js-blob-svg {
        display: block;
        width: 120%;
        margin: -60% 0 0 -400px;
    }

    #langing-page-images {
        display: block;
        text-align: center;
    }

        #langing-page-images img:nth-child(1) {
            width: 45%;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        }

        #langing-page-images img:nth-child(2) {
            width: 30%;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        }

        #langing-page-images img:nth-child(3) {
            display: block;
            width: 35%;
            margin: -100px 0 0 300px;
            box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        }

    #desk-icon {
        display: none;
    }
}